
body  
{  
    margin: 0;  
    padding: 0;  
    background-repeat: no-repeat;
    font-family: 'Arial';  
	background-image: linear-gradient(rgba(255,223,211,0.12),rgba(255,223,211,0.12)),url(images/mybanner.png);
	background-size: cover;
}  
nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
nav img{
	width: 70px;
}
.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color: #728FCE;
	text-decoration: none;
	font-size: 17px;
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
}
.nav-links ul li:hover::after{
	width: 100%;
}
nav .fa{
	display: none;
}
* {
	margin: 0;
	padding: 0;
}
body {
	background-image: linear-gradient(rgba(255,223,211,0.12),rgba(255,223,211,0.12)),url(images/mybanner.png);
	background-size: cover;
	min-height: 100vh;
}
section::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
section::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.container {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;
}

.container .card {
	position: relative;
	width: 400px;
	height: 400px;
	background: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.container .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container .card:hover .content {
	transform: translateY(-20px);
}

.container .card .content .imgBx {
	position: relative;
	width: 200px;
	height: 200px;
	overflow: hidden;
}

.container .card .content .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container .card .content .contentBx h3 {
	color: black;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 29px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.container .card .content .contentBx h3{
	font-size: 27px;
	font-weight: 300;
	text-transform: initial;
}

.container .card .sci {
	position: absolute;
	bottom: 50px;
	display: flex;
}

.container .card .sci li {
	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}

.container .card:hover .sci li {
	transform: translateY(0px);
	opacity: 1;
}

.container .card .sci li a {
	color: black;
	font-size: 17px;
}
.button1{
	border: none;
	padding: 5px 12px;
	text-align: center;
	border-radius:5px;
	text-decoration: none;
	color: white;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	background-color: rgb(198, 62, 162);
  }